@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --font-sans: var(--font-bricolage);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: #e2e2e2;
  --foreground: #111517;
  --card: #dfdfdf;
  --card-foreground: #344046;
  --popover: #e2e2e2;
  --popover-foreground: #111517;
  --primary: #1a935d;
  --primary-foreground: #fbfbfb;
  --secondary: #2c2c2c;
  --secondary-foreground: #e5c687;
  --muted: #f7f7f7;
  --muted-foreground: #585858;
  --accent: #f7f7f7;
  --accent-foreground: #09814a;
  --destructive: #bc3539;
  --border: #686868;
  --input: #686868;
  --ring: #b3b3b3;
  --chart-1: #b84838;
  --chart-2: #5266a3;
  --chart-3: #4257a8;
  --chart-4: #a4be3c;
  --chart-5: #8f9e39;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #111517;
  --sidebar-primary: #09814a;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #f7f7f7;
  --sidebar-accent-foreground: #09814a;
  --sidebar-border: #ebeaea;
  --sidebar-ring: #b3b3b3;
}

.dark {
  --background: #111517;
  --foreground: #fbfbfb;
  --card: #344046;
  --card-foreground: #fbfbfb;
  --popover: #344046;
  --popover-foreground: #fbfbfb;
  --muted: #313131;
  --muted-foreground: #afafaf;
  --accent: #313131;
  --accent-foreground: #0dbf6f;
  --destructive: #bc3539;
  --border: #e4e4e4;
  --input: #424242;
  --ring: #373737;
  --chart-1: #b84838;
  --chart-2: #5266a3;
  --chart-3: #4257a8;
  --chart-4: #a4be3c;
  --chart-5: #8f9e39;
  --sidebar: #fbfbfb;
  --sidebar-foreground: #111517;
  --sidebar-primary: #0dbf6f;
  --sidebar-primary-foreground: #fbfbfb;
  --sidebar-accent: #313131;
  --sidebar-accent-foreground: #0dbf6f;
  --sidebar-border: #ebeaea;
  --sidebar-ring: #b3b3b3;
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1 {
    @apply text-3xl font-semibold;
  }
  main {
    @apply mx-auto flex flex-col gap-8 bg-background h-full max-w-[1400px] py-5 px-8 md:px-14 max-sm:px-4;
  }
}

@layer components {
  .home-section {
    @apply flex gap-4 justify-between items-start w-full max-lg:flex-col-reverse max-lg:items-center;
  }
  .companions-grid {
    @apply flex flex-wrap gap-4 w-full max-md:justify-center justify-between;
  }
  .companion-card {
    @apply flex flex-col rounded-4xl border border-border px-4 py-4 gap-4 w-full min-lg:max-w-[410px] justify-between;
  }
  .subject-badge {
    @apply bg-black text-white rounded-4xl text-sm px-2 py-1 capitalize;
  }
  .companion-bookmark {
    @apply px-2 bg-black rounded-4xl flex items-center h-full aspect-square cursor-pointer;
  }
  .rounded-border {
    @apply rounded-4xl border border-black;
  }
  .btn-primary {
    @apply bg-black duration-200 hover:bg-neutral-900 text-white rounded-xl cursor-pointer px-4 py-2 flex items-center gap-2;
  }
  .btn-signin {
    @apply bg-primary text-white rounded-4xl px-4 max-sm:py-2.5 py-2 text-sm font-semibold flex items-center justify-between gap-2 cursor-pointer;
  }
  .companion-list {
    @apply rounded-4xl border border-border px-7 pt-7 pb-10 max-lg:w-full bg-card text-card-foreground;
  }
  .companion-limit {
    @apply items-center justify-center flex flex-col gap-4 w-full min-2xl:w-1/2 pt-20 text-center;
  }

  .companion-section {
    @apply border-2 border-orange-500 w-2/3 max-sm:w-full flex flex-col gap-4 justify-center items-center rounded-lg;
  }

  .companion-avatar {
    @apply size-[300px] flex items-center justify-center rounded-lg max-sm:size-[100px] mt-4;
  }
  .companion-lottie {
    @apply size-[300px] max-sm:size-[100px];
  }

  .user-section {
    @apply flex flex-col gap-4 w-1/3 max-sm:w-full max-sm:flex-row;
  }
  .user-avatar {
    @apply border-2 border-black flex flex-col gap-4 items-center rounded-lg py-8 max-sm:hidden;
  }

  .btn-mic {
    @apply border-2 border-black rounded-lg flex flex-col gap-2 items-center py-8 max-sm:py-2 cursor-pointer w-full;
  }

  .transcript {
    @apply relative flex flex-col gap-4 w-full items-center pt-10 flex-grow overflow-hidden;
  }
  .transcript-message {
    @apply overflow-y-auto w-full flex flex-col gap-4 max-sm:gap-2 pr-2 h-full text-2xl;
  }
  .transcript-fade {
    @apply pointer-events-none absolute bottom-0 left-0 right-0 h-40 max-sm:h-20 bg-gradient-to-t from-background via-background/90 to-transparent z-10;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .cl-drawerContent {
    @apply !z-50;
  }
}
